@import "./fonts.scss";

body{
    margin: 0;

    font-family: Roboto;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1260px;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    &__logo{
        font-size: 32px;
        font-weight: 600;
        color: #f50057;
    }
    .cart-counter{
        color: #f50057;
    }
}
.sorting{
    padding: 10px 0;
    display: flex;
    gap: 5px;

    .search{
        margin-left: auto;
    }
}
.list{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-around;
}
.product{
    flex-basis: 25%;
    margin-right: 20px;
    box-sizing: border-box;
    height: 300px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    box-shadow: 1px 5px 13px 0px #cdcdcd;
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;
        color: #e9568a;
    }
    &__image{
        object-fit: contain;
        height: 200px;
    }
    &__name{
        font-weight: 500;
    }
}

.cart{
    margin-top: 30px;

    &__item{
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 15px 30px;
        box-shadow: 3px 4px 10px 0px #ffe4e4;
        margin-bottom: 10px;
    }
    &__image{
        height: 120px;
    }
}